.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
  }
  
