.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 355px;
    align-items: center;
  }