

.keyboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 420px;
  min-height: 200px;
}

.btn {
    all: unset;
    cursor: pointer;
  }

.key-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.letter-key {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin: 2px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 30px;
  border: 2px white solid;
  border-radius: 7px;
}

.letter-key:hover {
  background-color: rgba(255, 255, 255, 0.425);
}